


* {
	margin: 0;
    /* font-family:"Lora"; */
    font-weight:500;
}

a{
    text-decoration: none;
}

body {
	background:#ffff;
    font-family:"Lora";
}


.container{
    padding:30px;
}

.navbar .container{
    padding:10px
}

.home{
    width:100%;
    height:100%;
    background: linear-gradient(180deg, #37203E 0%, #37213E 20%, #231527 40%, #37213E 70%, #231527 100%);
    /* background-image: url('../../images/banner.png'); */
	/* background-size:100%; */
	/* background-repeat: no-repeat;
    background-size: cover; */
}

.homePeserta{
    background-color: rgb(27, 27, 27);
}


.navbar{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    background:#ffffff00;
    font-family:"Lora";
}

.btn-custom-daftar {
	color: #ffff;
    /* background:linear-gradient(180deg, #D90000 0%, #B606BA 100%); */
    background: #00000000;
    border: 2px solid #ffff;
	border-radius: 30px 0px 30px 30px;
    height:40px;
	width:110px;
	font-weight:500;
}

.btn-custom-login{
    background:#bd300c;
	color: #ffff;
	border-radius: 0px 30px 30px 30px;
    /* border: 2px solid linear-gradient(180deg, #D90000 0%, #B606BA 100%); */
	height:40px;
	width:110px;
	font-weight:500;
    margin:auto;
}

.home-header{
    padding:70px;
    margin:auto;
    width:100%;
    height:auto;
    /* background-image: url('../../images/home-bg-01.png'); */
    background-image: url('../../images/banner.png');
	background-size:100%;
	background-repeat: no-repeat;
}

.home-header .row{
    padding:8px;
    margin:auto;
    margin-top:7%;
    z-index:10
}


.home .gradient {
	position: absolute;
	height: 110px;
	width: 100%;
	left: 0px;
	background: linear-gradient(
		180deg,
		rgba(21, 0, 44, 0) 0%,
		#37213ee5 50%,
		#37213E 100%
	);
    z-index:1;
}




.btn-custom-profile{
    align-items: center;
    justify-content: center;
    padding: 0;
    background:linear-gradient(180deg, #D90000 0%, #B606BA 100%);
	color: #ffff;
	border-radius: 30px 30px 30px 30px;
}




.countdown{
    z-index:10;   
}

.countdown h4{
    font-family: "Russo One";
    color:#ffff;
    font-size:36px;
    font-weight:500;
    text-align:center;
}

.countdown h6{
    font-family:"Lora";
    color:#ffff;
    font-size:16px;
    font-weight:500;
    text-align:center;
}


.countdown-img{
    height:80%;
    width:auto;
}


.countdown-img:hover{
    transform: scale(1.05);
}


.countdown li {
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color:#ffff;
    background-color: #000000;
    width:auto;
    height:auto;
    border-radius:5px;
  }
  
  .countdown li span {
    display: block;
    font-size: 16px;
  }


.registration-closed{
    color:rgb(221, 221, 221);
    font-size:18px;
    background-color: #aeaeae;
    height: 40px;
    width:200px;
    text-align:center;
    padding:5px;
    border-radius: 30px 0px 30px 30px;
    
}

.topic{
    height:auto;
    min-height:1100px;
    background-image: url('../../images/topic.png');
	background-size:100%;
	background-repeat: no-repeat;
    background-position-y: 20%;
    background-position: absolute;
}

.topic-img{
    left:0;
    right:0;
    position:absolute;
    margin-top:120px;
    margin-bottom:200px;
    z-index:6;
}

.talk-card{
    position:relative;
    height:130px;
    min-width:90%;
    width:auto;
    border-radius:10px;
    color:#000000;
    background-color: #D9D9D9;
    padding:15px;
    padding-bottom:0;
    margin-top:5%;
    z-index:15;
}


.talk-card h5{
    font-family:"Russo One";
    font-size:22px;
    font-weight:500;
}

.talk-card h6{
    font-family:"Lora";
    font-size:18px;
    font-weight:500;
    margin:0
}

.talk-card p{
    font-family:"Lora";
    font-size:12px;
    font-weight:500;
    margin-bottom:10px
}

.talk-img{
    width:25%;
    height:auto;
    bottom:0px;
    left:15px;
    object-fit: cover;
    position:absolute;
    z-index:20;
}



.theme{
    color: #ffff;
    text-align:center;
    background-image: url('../../images/pattern-01.png');
    background-repeat: no-repeat;
    background-position-y: 150%;
    background-size:cover ;
    
}

.theme h4{
    font-family:"Russo One";
    font-size:40px;
    font-weight:400;
}

.theme h5{
    font-family:"Lora";
    font-size:24px;
    font-weight:400;
}

.theme p{
    font-family:"Lora";
    font-size:16px;
    font-weight:300;
    width:40%;
    margin:auto
}


.speaker-1{
 z-index:10;
 position: absolute;
 right: 25%;
}




 .speaker-text{
  text-align:left;
  margin-top:200px;
  margin-bottom:100px;
 }


 .speaker-img{
    margin-top:0;
    margin-bottom:200px
}


.student-speaker{
    position:relative;
    z-index:23;
    color:#ffff;
    margin-top:10%;
}

.student .col{
    padding-left:30%;
    padding-right:30%
}

.student-speaker h5{
    font-family:"Russo One";
    font-size:34px;
    font-weight:500;
    margin-bottom:0
}

.student-speaker h6{
    font-family:"Lora";
    font-size:20px;
    font-weight:500;
    margin:0
}

.student-speaker p{
    font-family:"Lora";
    font-size:16px;
    font-weight:500;
    margin:0
}

.student-img{
    height:350px;
    width:auto
}

.student-img:hover{
    transform: scale(1.1);
}
   


@media (max-width: 986px) {


    .home-header{
        padding:10px;
        background-size:cover;
        padding:10px;
    }


    .home .gradient {
        top: 110%;
    }
    

    .home-header .row{
		margin:5%;
        padding-top:35%;
	}

    .home-header h1{
		font-size: 45px;
	}

    .home-header h5{
        font-family:"Lora";
		font-size: 14px;
	}

    .hero-section{
        padding-bottom: 6rem;
        text-align: center;
        /* border-radius: 0 0 56px 56px; */
    }

    .topic{
        background-size:cover;
        background-position-x: 10%;
        margin-top:40%
    }

    .topic .container{
        padding-top:0;
        margin-top:0
    }


    .talk-card{
        min-width:100%;
        margin-top:none
    }

    .talk-img{
        width:30%;
    }


    .talk-card h5{
        font-family:"Russo One";
        font-size:18px;
        font-weight:500;
    }
    
    .talk-card h6{
        font-family:"Lora";
        font-size:14px;
        font-weight:500;
        margin:0
    }
    
    .talk-card p{
        font-family:"Lora";
        font-size:10px;
        font-weight:500;
        margin-bottom:10px
    }

    .student .col{
        padding-left:5%;
        padding-right:5%
    }

    .student-img{
        height:300px;
        width:auto
    }

    .student-img:hover{
        transform: scale(1.1);
    }

    
}

.home-img{
	min-height:auto;
	width:90%;
	top:100px;
	z-index:10;
	margin:auto;
    border-radius: 10;
}

.home-header h1{
    color:#ffff;
    font-family:"Russo One";
    /* font-size:50px; */
    font-weight:400;
}


.home-header h5{
    color:#ffff;
    font-size:16px;
    font-weight:300;
    text-align:justify
}


.get-started{
    font-family:"Lora";
    margin-top:20px;
    width:200px;
    height:60px;
    color:#ffff;
    border-radius:0px 30px 30px 30px;
    border: none;
    font-size:20px;
    font-weight:400;
    text-align:center;
    padding:10px;
    background:#bd300c;
}


.register{
    font-family:"Lora";
    width:80%;
    height:40px;
    color:#ffff;
    border-radius:0px 30px 30px 30px;
    border:none;
    margin:auto;
    font-size:14px;
    font-weight:500;;
    text-align:center;
    padding:auto;
    background:#bd300c;
}

.modal-login{
    background-color: #00000000;
    color:#b50101;
    border:none;
}

.modal-login:hover{
    color:#dc0404;
    font-weight:500;;
}


.btn-custom-daftar:hover,
.btn-custom-login:hover,
.get-started:hover,
.register:hover{
    background:#a72909;
    color:#ffffff;
    border:none;
}



.dropdown-menu{
    border-radius: 20px 20px 20px 20px;
    /* background-color: rgb(27, 27, 27); */
    background: linear-gradient(180deg, #7f62fe 0%, #f700ff 100%); 
}

.dropdown-item{
    color:#ffff;
    font-size:14px;
    text-align:center
}

.dropdown-item:hover{
    background-color: #00000000;
    color:#ffff;
    font-size:14px;
    font-weight:500;;
    text-align:center
}



.home-bg{
    margin:0;
    object-fit:cover;
    width:100%;
    height:auto;
    z-index:0;
    position:absolute
}


.header-background{
    margin: auto;
    min-height: 360px;
    background-image:url('../../images/banner-panjang.png');
    /* border-radius: 0 0 72px 72px; */
}


.card-profile-bottom{
    background-color: #2f2f2f;
    color:#ffff;
    border: none;
    border-radius: 10px;
    z-index: 10;
    margin-top: -4rem;
}


.breadcrumb.breadcrumb-pills {
    position: relative;
    border: 1px dashed #c9c9c9;
    width: fit-content;
    border-radius: 0.75rem;
}

.event .card:hover{
    z-index:10;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.151) ;
    transform: scale(1.02);    
}

.event .card{
    border: none;
    border-radius: 10px;
    transition: 0.5s ease;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.075) ;
    background-color: #2f2f2f;
    color:#ffff;
}

.event .card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.event .card .card-title{
    width: 200px;
    height:50px;
    padding:10px;
    background: linear-gradient(180deg, #7f62fe 0%, #f700ff 100%); 
    text-align:center;
    border-radius:30px 0px 30px 0px;
    color: rgb(255, 255, 255);
}


.peserta-form{
    background-color: #474747;
    border:none;
    border-radius:30px;
    color:#ffff;
}


.peserta-form:hover,
.peserta-form:active,
.peserta-form:focus,
.peserta-form:checked{
    background-color: #474747;
    border:1px solid #ffff;
    border-radius:30px;
    color:#ffff;
    box-shadow:none;
}


.status-table{
    background-color:rgb(31, 31, 31);
    padding:20px;
    border-radius:20px;
    color:#ffff;
}


.status-table th{
    border:none;
    border-bottom:1px solid #7b7b7b;
    padding-left:20px;
    height:50px;
}

.status-table td{
    border:none;
    border-top:1px solid #303030;
    padding-left:20px
}





.btn-custom-subev,
.btn-custom-mainev {
    background: linear-gradient(180deg, #7f62fe 0%, #f700ff 100%); 
	color: #ffff;
	border-radius: 30px;
    border: none;
    /* border: 2px solid linear-gradient(180deg, #D90000 0%, #B606BA 100%); */
	height:40px;
	width: 150px;
	font-weight:500;;
}

.disabled{
    background:#878787; 
    color: rgb(255, 255, 255);
}


.btn-custom-subev:hover{
    background: linear-gradient(180deg, #6141f4 0%, #aa00b0 100%); 
    border: none;
}



.profile-menu-1{
    background: linear-gradient(180deg, #50b0ff 0%, #01c372 100%); 
    color:#ffff;
    width:auto;
    height:40px;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    border-radius:50px 0px 50px 50px;
}

.profile-menu-2{
    background: linear-gradient(180deg, #50b0ff 0%, #01c372 100%); 
    color:#ffff;
    width:auto;
    height:40px;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    border-radius:0px 50px 50px 50px;
}


.profile-menu-1:hover,
.profile-menu-2:hover{
    color:#ffff;
    background: linear-gradient(180deg, #2d9efc 0%, #008e53 100%); 
}


.sponsor{
    width: 100%;
    height: auto;
    background-image: url('../../images/banner.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sponsor .headline{
    margin: auto;
    padding-top: 20%;
    color: white;
    text-align: center;
    margin-bottom: 10%;
}

.sponsor .headline h2{
    font-size: 40px;
    font-weight: 700;
}

.sponsor .headline p{
    font-size: 20px;
    font-weight: 400;
}

.sponsor .logo-sponsor img{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .sponsor .headline{
        padding-top: 20%;
        margin-bottom: 5%;
    }
    .sponsor .headline h2{
        font-size: 42px;
    }
    
    .sponsor .headline p{
        font-size: 24px;
    }

    .sponsor .logo-sponsor img{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .sponsor .headline{
        padding-top: 8%;
        margin-bottom: 5%;
    }
    .sponsor .headline h2{
        font-size: 56px;
    }
    
    .sponsor .headline p{
        font-size: 24px;
    }

    .sponsor .logo-sponsor img{
        width: 100%;
    }
}




.footer-top{
    min-height:50px;
    height:auto;
    width:100%;
    background-color: #ffffff00;
    color:#ffff;
    padding:15px;
}

.footer-top h5{
    text-align:center;
    font-size:14px;
    font-weight:500;
    justify-content:center;
    margin:auto;
}





















.auth-modal{
    border-radius:30px;
    margin:auto;
}


.auth-header{
 border:none;
}

.auth-label{
    font-size:14px;
    font-weight:600;
    color:#b50101;
}

.auth-form{
    border-radius:40px;
    border: 1px solid #e7e6e6;
    /* border:none; */
    font-size:14px;
    height:40px;
    color:#e7e6e6;
    /* background-color:#f4f4f4 */
}




.auth-form:hover{
    background-color:#00000000;
    border: 1px solid #b50101;
}


.auth-form:focus,
.auth-form:active{
    background-color:#00000000;
    border: 1px solid #b50101;
    box-shadow:none;
}


.ml11 {
    font-weight: 700;
    font-size:50px;
  }
  
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display:inline;
    line-height: 1em;
  }

.register:hover,
.register-option:hover{
    /* background: #9C39FF; */
    color:#ffffff;
    border:none;
    background: rgb(2,0,36);
    /* background: linear-gradient(180deg, #7f62fe 0%, #f700ff 100%);  */
    background:#a72909;
}

.register-option{
    width:70%;
    height:50px;
    border-radius: 30px 0px 30px 0px;
    color:#ffff;
    text-align:center;
    justify-content:center;
    align-content:center;
    font-weight:500;;
    font-size:20px;
    margin:auto;
    margin-bottom:20px;
    padding:10px;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 50%, rgba(0,212,255,1) 100%); */
    /* background: linear-gradient(180deg, #6141f4 0%, #aa00b0 100%); 
    background:#a72909; */
}










.dot{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}


.dot [data-bs-target]{
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-radius:10px;
  border: none;
  border-top: none;
  border-bottom: none;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}


.dot .active{
    opacity: 1;
    width: 12px;
    height: 12px;
    border-radius:12px;
}



.capt {
    position:static;
    right: auto;
    bottom: 1.25rem;
    left: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align:left;
    align-items:center
  }


  .capt h5{
    font-family:"Russo One";
    font-size: 40px;
    font-weight:400;
  }


  .capt p{
    font-family:"Lora";
    font-size: 16px;
    font-weight:500;
    width:90%;
    text-align:left;
    margin:0
  }




  .speaker-img{
    text-align:center;
    justify-content:center;
    margin:auto;
    width:60%;
    height:auto;
    position:relative;
    z-index:27;
  }



  .car{
     background-image: url('../../images/pattern-01.png');
     position:absolute;
     z-index:20;
  }


  .home-modal{
	max-width:1000px;
	width:auto;
    padding:5px
}


.event-modal{
	background-color: #ffff;
    border-radius: 20px
}



.grab-button{
    height:40px;
    width:160px;
    border-radius:50px;
    color:#ffff;
    background-color: #E52B1E;
    padding:5px;
    text-align:center;
    align-items:center;
    justify-content:center;
    display:flex
}


.grab-button:hover{
    color:#ffff;
    background-color: #9f1107;
}

.grab{
    margin-bottom:10px; 
    top:70%; 
    position:absolute
}

.modal-event h5{
    font-family:"Russo One";
    font-size:24px;
    font-weight:400;
}

.modal-event h6{
    font-family:"Lora";
    font-size:14px;
    font-weight:500;
}


.modal-event p{
    font-family:"Lora";
    font-size:12px;
    font-weight:500;
    text-align:justify
}

@media (max-width: 986px) {

    .grab{
        margin-bottom:10px; 
        top:100%; 
        position:absolute
    }
}



.carousel-control-prev{
  position: absolute;
  top: 0;
  bottom: 0;
  left:-5%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}


.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right:-5%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}



.carousel-control-prev-icon {
    background-image:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%231c1b1f" d="m12.3 15.3l-2.6-2.6q-.15-.15-.225-.325Q9.4 12.2 9.4 12t.075-.375q.075-.175.225-.325l2.6-2.6q.475-.475 1.087-.212q.613.262.613.937v5.15q0 .675-.613.937q-.612.263-1.087-.212Z"%2F%3E%3C%2Fsvg%3E');
  }
  
  .carousel-control-next-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cg transform="rotate(180 12 12)"%3E%3Cpath fill="%231c1b1f" d="m12.3 15.3l-2.6-2.6q-.15-.15-.225-.325Q9.4 12.2 9.4 12t.075-.375q.075-.175.225-.325l2.6-2.6q.475-.475 1.087-.212q.613.262.613.937v5.15q0 .675-.613.937q-.612.263-1.087-.212Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }



  .dot2{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}


.dot2 [data-bs-target]{
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(180, 0, 0);
  background-clip: padding-box;
  border-radius:10px;
  border: none;
  border-top: none;
  border-bottom: none;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}


.dot2 .active{
    opacity: 1;
    width: 12px;
    height: 12px;
    border-radius:12px;
}