/* 

.loader{
  background:#ffff;
  text-align: center;
  height: 40px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.loader span{
    font-size: 2.5rem;
    font-weight: 700;
    transform: translateZ(-100%);
    display: inline-block;
    color: red;
    animation: animate 2s infinite;
    transition: all 0.5s;
}
.loader span:nth-child(1) {
    animation-delay: 0.1s;
}
.loader span:nth-child(2) {
    animation-delay: 0.2s;
}
.loader span:nth-child(3) {
    animation-delay: 0.3s;
}
.loader span:nth-child(4) {
    animation-delay: 0.4s;
}
.loader span:nth-child(5) {
    animation-delay: 0.5s;
}
.loader span:nth-child(6) {
    animation-delay: 0.6s;
}
.loader span:nth-child(7) {
    animation-delay: 0.7s;
}
@keyframes animate{
    0% {
        color: rgb(245, 20, 20);
        transform: translateY(0);
        margin-left:0 ;
    }
    25%{
        transform: translateY(-15%);
        margin-left: 10px;
        text-shadow: 0 15px 5px rgba(0, 0, 0, 1);
    }
    100%{
        color: rgb(255, 255, 255, .1);
        transform: translateY(0);
        margin-left: 0;
    }
} */




* {
	margin: 0;
}

body {
	background:linear-gradient(359.42deg, #FF003D 5.77%, #250073 55.88%);
	font-family : "ubuntu";
}




.navbar{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    background:#ffffff00
}


.btn-custom-daftar {
	background-color: var(--bs-white);
	color: #ffff;
    /* background:linear-gradient(180deg, #D90000 0%, #B606BA 100%); */
    background: #00000000;
    border: 2px solid #ffff;
	border-radius: 30px 0px 30px 30px;
	max-width: 100%;
	font-weight:700;
}

.btn-custom-login {
    background:linear-gradient(180deg, #D90000 0%, #B606BA 100%);
	color: #ffff;
	border-radius: 0px 30px 30px 30px;
    border: 2px solid linear-gradient(180deg, #D90000 0%, #B606BA 100%);
	max-width: 100%;
	font-weight:700;
}



.home-header{
    padding:70px;
    margin:auto;
    width:100%;
    height:auto;
    background-image: url(../../images/home-bg-01.png);
	background-size:100%;
	background-repeat: no-repeat;
}

.home-header .row{
    padding:8px;
    margin:auto;
    margin-top:7%
}

@media (max-width: 986px) {
	.home-header{
		background-size:cover;
        padding:10px;
	}

    .home-header .row{
		margin:5%;
        padding-top:35%;
	}

    .home-header h1{
		font-size: 45px;
	}

    .home-header h5{
		font-size: 14px;
	}

}



.home-img{
	min-height:auto;
	width:90%;
	top:100px;
	z-index:10;
	margin:auto;
}

.home-header h1{
    color:#ffff;
    font-size:50px;
    font-weight:700;
}


.home-header h5{
    color:#ffff;
    font-size:16px;
    font-weight:300;
    text-align:justify
}


.get-started{
    margin-top:20px;
    width:200px;
    height:60px;
    color:#ffff;
    border-radius:0px 30px 30px 30px;
    /* border: 2px solid #ffff; */
    font-size:20px;
    font-weight:700;
    text-align:center;
    padding:10px;
    background:linear-gradient(180deg, #D90000 0%, #B606BA 100%);
}


.btn-custom-daftar:hover{
    background: linear-gradient(180deg, #0057D9 0%, #0ED953 100%);
    color:#ffff;
}
a:hover{
    color:#ffff;
}


.home-bg{
    margin:0;
    object-fit:cover;
    width:100%;
    height:auto;
    z-index:0;
    position:absolute
}


.footer-top{
    min-height:50px;
    height:auto;
    width:100%;
    background-color: #ffffff00;
    color:#ffff;
    padding:15px;
}

.footer-top h5{
    text-align:center;
    font-size:14px;
    font-weight:700;
    justify-content:center;
    margin:auto;
}

